<h1>User info</h1>
<%= image_tag user.get_profile_image(100,100) %>
<p>name</p><span><%= user.name %></span>
<p>introduction</p><span><%= user.introduction %></span>

<% if user == current_user %>
  <%= link_to edit_user_path(user) do %> 
    <i class="fa-solid fa-gear"></i>
  <% end %>
<% end %>
